body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000; /* Black background */
  color: #00FFFF; /* Electric blue text color */
  font-family: Arial, sans-serif;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.circle__box {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  position: relative;
}

.circle__wrapper {
  width: 100px;
  height: 200px;
  position: absolute;
  top: 0;
  overflow: hidden;
}

.circle__wrapper--right {
  right: 0;
}

.circle__wrapper--left {
  left: 0;
}

.circle__whole {
  width: 160px;
  height: 160px;
  border: 20px solid transparent;
  border-radius: 50%;
  position: absolute;
  top: 0;
  transform: rotate(135deg);
}

.circle__right {
  border-top: 20px solid #fff;
  border-right: 20px solid #fff;
  right: 1px;
  animation: circleLeft 2.5s linear forwards;
}

.circle__left {
  border-bottom: 20px solid #fff;
  border-left: 20px solid #fff;
  left: 1px;
  animation: circleRight 2.5s linear forwards;
}

@keyframes circleRight {
  0% {
    transform: rotate(45deg);
  }
  50%,
  100% {
    transform: rotate(-135deg);
  }
}

@keyframes circleLeft {
  0%,
  50% {
    transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(-135deg);
  }
}


h1 {
  color: #006666; /* Dark electric blue heading color */
}

a {
  color: #0000FF; /* Deep electric blue link color */
}

.button {
  background-color: #33CCFF; /* Electric blue highlight button background color */
  color: #000000; /* Black button text color */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 2rem; /* Adjust the font size to make the button larger */
  padding: 20px 40px; /* Adjust the padding to increase the button size */
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%; 
}

.button:hover {
  background-color: #00FFFF; 
  color: #012875; 
  border-radius: 20px;
}

.edge-gradient {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px; /* Adjust the height of the gradient lines */
  background-image: linear-gradient(to right, #0040ef, #33CCFF, #0000FF); /* Gradient from transparent to black */
  pointer-events: none; /* Ignore mouse events on the gradient lines */
}

/* Create a top gradient line */
.top-gradient {
  top: 0;
}

/* Create a bottom gradient line */
.bottom-gradient {
  bottom: 0;
}